
body{
	
    background: url("../images/fondo.png") no-repeat;
}

nav{
  	background-color: rgba(15,245,57,0.3);
    /*background: transparent;*/
    padding-left: 2%;
	-webkit-box-shadow:2px 4px 4px rgba(21,40,18,1);
	-moz-box-shadow:2px 4px 4px rgba(21,40,18,1);
	height: 55px;
}


.ball{
	background: url("../images/esfera.png");
	background-repeat: no-repeat;
}

.ball2{
	background: url("../images/esfera-orange2.png");
	background-repeat: no-repeat;
}

.ball3{
	background: url("../images/esfera-yellow.png");
	background-repeat: no-repeat;
}

.ball4{
	background: url("../images/esfera-green2.png");
	background-repeat: no-repeat;
}

.boton{
	border:none !important;
	background-color: transparent !important;
	height: 50px;
}
.boton:hover{
	color: white;
}

.boton-menu{
	border:none !important;
	background-color: rgba(15,245,57,1);
	padding-left: 5%;
}

.col_izq{
	background-color: rgba(15,245,57,0.2);
	/*background: transparent;*/
	-webkit-box-shadow:2px 4px 4px rgba(21,40,18,1); 
	-moz-box-shadow:2px 4px 4px rgba(21,40,18,1);	
}

.col_der{
	background-color: rgba(15,245,57,0.5);
	/*background: transparent;*/	
	-webkit-box-shadow: -3px 2px 4px rgba(21,40,18,1);
	-moz-box-shadow: -3px 2px 4px rgba(21,40,18,1);
	padding-top: 17%;	
	border-radius: 10px;
}

.dropdown-menu{
	background-color: rgba(15,245,57,1) !important;
}

.foot{
	text-align: center;
    background-color: rgba(15,245,57,0.5);
    box-shadow: 0px -4px 4px rgba(21,40,18,1); 
}

.items{
	padding-bottom:2%; 
	padding-top:2%;
}

.read{
	width:75px !important;
	height: 75px !important;
	border:none !important;
	text-align: center;
	font-weight: bold;
}

.titulo{
	font-family: miFuente;
}

/*Anuncio*/
@-webkit-keyframes girando {
  from { -webkit-transform: rotateY(0deg); color: blue;   }
  to   { -webkit-transform: rotateY(-360deg); color:red;  }
}

#contenedor {
   /*margin: 30px auto;*/
   /*-webkit-perspective: 60px;*/
}

#email{
	padding-top: 1%;
	padding-left: 2%;
}

@font-face{
	font-family: Cursiva;
	src:url(font/cursiva/ConeriaScript.ttf);
}

#frase{
	padding-top: 100%;
	padding-left: 5%;
	font-family: Cursiva;
	font-weight: bold;
	font-size: 20px;
}

#girando {
   -webkit-animation-name: girando;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 5;
   -webkit-animation-duration: 6s;
   -webkit-transform-style: preserve-3d;
}

#item{
	padding-top: 1%;
}


/*Contornear el texto con un trazo: 
Con cuatro sombras sólidas a un píxel de distancia del texto, situadas a los cuatro lados, podemos conseguir un efecto de trazo alrededor del texto.
*/
#sombra3{
	font-size: 25px;
   text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;
   color: #fff;
}


/*Texto en relieve: 
Con una sombra oscura y otra clara podemos conseguir un efecto de relieve sobre el texto. Puede ser un relieve o un bajo relieve, dependiendo de donde coloquemos ambas sombras.
*/
#sombra4{
   font-size: 25px;
   text-shadow: 1px 1px white, -1px -1px #333;
   background-color: #ddd;
   color: #ddd;
   padding: 10px;
}	


/* Propiedad... @font-face .... para definir un tipo de fuente */
@font-face{
	font-family: miFuente;
	src:url(font/eat-at-joess.ttf);
}

#subtitulo{
	font-family: miFuente;
	/*text-shadow: 2px 2px 10px;*/
}

/*Barra superior en dispositivos moviles*/
#word{
	float: right;
	font-family: miFuente !important;
	width: 65%;
	font-size: 40px;
}

#bar{
	float:none;
	background: none;
	border-color: rgba(184,102,5,1);
	font-size: 35px;
	width: 100px;
	padding-left: 5%;
}

#col-izq{
  animation-duration: 3s;
  animation-delay: 1s;
  border-radius: 10px;
}


#trebol-icono{
	padding-bottom: 1%;
}

.icon{
	width: 50px !important;
	font-size: 50px; /*para font awesome*/
	position: center;
	margin-top: 5%;
}

.icon2{
	width: 80px !important;
	font-size: 80px; /*para font awesome*/
	position: center;
	margin-top: 5%;
}


#lienzo{
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	padding: 20px;
	height: 700px;
	overflow-y: scroll;
}

.num{
	font-weight: bold;
	color: blue;
	font-size: 19px;
}

.text{
	padding: 2px;
	border:1px dotted blue;
}

.futbol{
	padding: 2px !important;
	border:1px dotted blue !important;
	height: 133px;	
}

.nombres{
	padding: 2px;
	border:1px dotted blue;
}

#cai{
	height: 60px !important;
}

.largo{
	font-size: 12px !important;
}

.family1{
	font-family: helvetic;
	font-weight: bold;
	font-size: 20px;
	min-height: 34px;
}

@font-face{
	font-family: Simpson;
	src:url(font/simpsons/Simpsonfont.otf);
}

.family2{
	font-family: Simpson;
	font-size: 19px;
	min-height: 34px;
}

@font-face{
	font-family: Cumple;
	src:url(font/cumple/Birthday.otf);
}

.family3{
	font-family: Cumple;
	font-size: 25px;
	min-height: 34px;
}


@font-face{
	font-family: Pretoria;
	src:url(font/pretoria/Praetoria.otf);
}

.family4{
	font-family: Pretoria;
	font-weight: bolder;
	font-size: 20px;
	min-height: 34px;
}


@font-face{
	font-family: Mac;
	src:url(font/mac/McLetters.ttf);
}

.family5{
	font-family: Mac;
	font-weight: bold;
	font-size: 20px;
	min-height: 34px;
}


@font-face{
	font-family: Lie;
	src:url(font/lie/lie.ttf);
}

.family6{
	font-family: Lie;
	font-size: 22px;
	min-height: 34px;
}

@font-face{
	font-family: Rayo;
	src:url(font/rayo/thundertitanpunch.ttf);
}

.family7{
	font-family: Rayo;
	font-size: 15px;
	min-height: 34px;
}

@font-face{
	font-family: Cali;
	src:url(font/cali/cali.ttf);
}

.family8{
	font-family: Cali;
	font-size: 20px;
	font-weight: bold;
	min-height: 34px;
}


@font-face{
	font-family: Western;
	src:url(font/western/western.ttf);
}

.family9{
	font-family: Western;
	min-height: 34px;
}


@font-face{
	font-family: Like;
	src:url(font/like/ilikeyourcrocs.ttf);
}

.family10{
	font-family: Like;
	font-size: 24px;
	font-weight: bold;
	min-height: 34px;
}

.family11{
	font-family: Cursiva;
	font-size: 23px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Noemi;
	src:url(font/noemi/Noemi.otf);
}

.family12{
	font-family: Noemi;
	font-size: 22px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Flores;
	src:url(font/flores/Flowered.ttf);
}

.family13{
	font-family: Flores;
	font-size: 20px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Fun;
	src:url(font/fun/SpringFun.ttf);
}

.family14{
	font-family: Fun;
	font-size: 20px;
	min-height: 34px;
}


@font-face{
	font-family: Eternity;
	src:url(font/eternity/eternity.ttf);
}

.family15{
	font-family: Eternity;
	font-size: 17px;
	min-height: 34px;
}

@font-face{
	font-family: Monster;
	src:url(font/monster/monster.ttf);
}

.family16{
	font-family: Monster;
	font-size: 20px;
	min-height: 34px;
}

@font-face{
	font-family: Asi;
	src:url(font/asiago/Asiago.ttf);
}

.family17{
	font-family: Asi;
	font-size: 20px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Asi;
	src:url(font/asiago/Asiago.ttf);
}

.family17{
	font-family: Asi;
	font-size: 20px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Cronus;
	src:url(font/cronus/Cronus.otf);
}

.family18{
	font-family: Cronus;
	font-size: 24px;
	min-height: 34px;
}


@font-face{
	font-family: Miss;
	src:url(font/miss/Miss.ttf);
}

.family19{
	font-family: Miss;
	font-size: 23px;
	min-height: 34px;
}

@font-face{
	font-family: Coffee;
	src:url(font/coffee/Coffee.ttf);
}

.family20{
	font-family: Coffee;
	font-size: 22px;
	min-height: 34px;
}

@font-face{
	font-family: Cubo;
	src:url(font/cubo/Qube.ttf);
}

.family21{
	font-family: Cubo;
	font-size: 20px;
	min-height: 34px;
	font-weight: bold;
}

@font-face{
	font-family: Kentucky;
	src:url(font/kentucky/Kentucky.ttf);
}

.family22{
	font-family: Kentucky;
	font-size: 20px;
	min-height: 34px;
}

@font-face{
	font-family: Thyssen;
	src:url(font/thyssen/Thyssen.TTF);
}

.family23{
	font-family: Thyssen;
	font-size: 22px;
	min-height: 34px;
}

@font-face{
	font-family: Gatsby;
	src:url(font/gatsby/Gatsby.ttf);
}

.family24{
	font-family: Gatsby;
	font-size: 27px;
	font-weight: bold;
	min-height: 34px;
}

@font-face{
	font-family: Prince;
	src:url(font/prince/Prince.ttf);
}

.family25{
	font-family: Prince;
	font-size: 20px;
	min-height: 34px;
}


.nom-largo{
	font-size: 13px;
	font-weight: bold;
	min-height: 34px;
}

.nombre-pie{
	font-size: 9px;
}

.load{
	background-color: lightgray;
}