
body{
	background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white,gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white,gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white,gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,gray); /* Standard syntax */
}

details{
	/*Sirve para partir las palabras que son muy largas para el contenedor y evitar que se deforme*/
	word-wrap: break-word;
}

nav{
  	text-align: center;
  	background: -webkit-linear-gradient(rgba(243,156,18,1),#FAAC58); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(rgba(243,156,18,1),#FAAC58); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(rgba(243,156,18,1),#FAAC58); /* Firefox 3.6-15 */
    background: linear-gradient(rgba(243,156,18,1),#FAAC58); /* Standard syntax */
    padding-left: 2%;
	-webkit-box-shadow:2px 4px 4px rgba(184,102,5,1);
	-moz-box-shadow:2px 4px 4px rgba(184,102,5,1);
	height: 55px;
}


.ball{
	background: url("../images/esfera.png");
	background-repeat: no-repeat;
}

.ball2{
	background: url("../images/esfera-orange2.png");
	background-repeat: no-repeat;
}

.ball3{
	background: url("../images/esfera-yellow.png");
	background-repeat: no-repeat;
}

.ball4{
	background: url("../images/esfera-green2.png");
	background-repeat: no-repeat;
}

.boton{
	border:none !important;
	background-color: transparent !important;
	height: 50px;
}
.boton:hover{
	color: blue;
}

.boton-menu{
	border:none !important;
	background-color: transparent !important;
	padding-left: 5%;
}

.col_izq{
	background-color: rgba(243,156,18,1);	/*Naranja*/
	-webkit-box-shadow:2px 4px 4px rgba(184,102,5,1); 
	-moz-box-shadow:2px 4px 4px rgba(184,102,5,1);	
}

.col_der{
	background-color: rgba(254,254,254,0.5);	
	-webkit-box-shadow: -3px 2px 4px rgba(66,73,73,1);
	-moz-box-shadow: -3px 2px 4px rgba(66,73,73,1);
	padding-top: 17%;	
}

.foot{
	text-align: center;
	background: -webkit-linear-gradient(rgba(243,156,18,1),#F88306); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(rgba(243,156,18,1),#F88306); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(rgba(243,156,18,1),#F88306); /* Firefox 3.6-15 */
    background: linear-gradient(rgba(243,156,18,1),#F88306); /* Standard syntax */
    box-shadow: 0px -4px 4px rgba(184,102,5,1); 
}

.read{
	width:75px !important;
	height: 75px !important;
	border:none !important;
	text-align: center;
	font-weight: bold;
}



/*Anuncio*/
@-webkit-keyframes girando {
  from { -webkit-transform: rotateY(0deg); color: blue;   }
  to   { -webkit-transform: rotateY(-360deg); color:red;  }
}

#contenedor {
   /*margin: 30px auto;*/
   /*-webkit-perspective: 60px;*/
}

#email{
	padding-top: 1%;
	padding-left: 2%;
}

@font-face{
	font-family: Cursiva;
	src:url(font/cursiva/ConeriaScript.ttf);
}

#frase{
	padding-top: 100%;
	padding-left: 5%;
	font-family: Cursiva;
	font-weight: bold;
	font-size: 20px;
}

#girando {
   -webkit-animation-name: girando;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 5;
   -webkit-animation-duration: 6s;
   -webkit-transform-style: preserve-3d;
}

#item{
	padding-top: 1%;
}


/*
	Probando las sombras de texto
	Desplazamiento de la sombra a la derecha (1px).
	Desplazamiento de la sombra hacia abajo (2px).
	Color de la sombra (#999).
	text-shadow: 1px 2px #999;
*/

/*Contornear el texto con un trazo: 
Con cuatro sombras sólidas a un píxel de distancia del texto, situadas a los cuatro lados, podemos conseguir un efecto de trazo alrededor del texto.
*/
#sombra3{
	font-size: 25px;
   text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;
   color: #fff;
}


/*Texto en relieve: 
Con una sombra oscura y otra clara podemos conseguir un efecto de relieve sobre el texto. Puede ser un relieve o un bajo relieve, dependiendo de donde coloquemos ambas sombras.
*/
#sombra4{
	font-size: 25px;
   text-shadow: 1px 1px white, -1px -1px #333;
   background-color: #ddd;
   color: #ddd;
   padding: 10px;
}	


/* Propiedad... @font-face .... para definir un tipo de fuente */
@font-face{
	font-family: miFuente;
	src:url(font/eat-at-joess.ttf);
}

#titulo,#subtitulo{
	font-family: miFuente;
	text-shadow: 2px 2px 10px;
}


/* ALTERNATIVA 2  "La más profesional"*/

@media (min-width: 500px) {
    h3{
        margin: 1%;
    }
    .estiloresponsive{
        float: right;
        padding-left: 15px; 
    }
}


/*
Operador and: las dos condiciones deben cumplirse para que se evalúe como verdadera. 
Operador not: es una negación de una condición. Cuando esa condición no se cumpla se aplicarán las media queries. 
Operador only: se aplican las reglas solo en el caso que se cunpla cierta circunstancia. 
Operador or: no existe como tal, pero puedes poner varias condiciones separadas por comas y cuando se cumpla
 cualquiera de ellas, se aplicarán los estilos de las media queries.
 */
 @media (max-width: 600px) and (orientation: landscape) {
    h3{
        color: red;
    }
}



